<include file="Public/header/header.html"/>

</head>
<body>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-home"></i></a></li>
        <li><a href="__CONTROLLER__/">招商简介</a>
        </li>
    </ul>
    <div class="row">
        <section id="sidebar-main" class="col-md-12">
            <div id="content" class="wrapper clearfix">
                <div id="services">
                    <div class="container">


                        <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">招商加盟 (毕业生)</p></h1>
                                <br><br>
                                <div style="font-size: 20px;">
                                    <strong>　　聚盈珠宝全国诚招100名微商
                                    聚盈珠宝诚招大学生。应届毕业生、兼职妈妈等加盟聚盈微商战队！如您喜欢翡翠、
                                    玉器、珠宝行业，可登陆聚盈官网或扫描二维码，即可加入聚盈团队！享受全国统一的
                                    销售政策！以聚盈官网价格为准，直销可享受10%的奖励，发展的下级微商销售额的
                                    10%归你。通过二维码扫描、附近的人等多种途径找到与你爱好相同的人！只要找对
                                    合适的人，有好的朋友圈，就可以轻松融入我们的战队！
                                    </strong>
                                </div>

                            </div>


                        </div>


                        <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">招商加盟 (实体)</p></h1>

                                <div style="font-size: 20px;">
                                    <strong>　
                                        　聚盈珠宝全国诚招实体三级代理商
                                        聚盈珠宝提供,从原料采购、设计加工到产品销售一条龙服务。
                                        现面向全国诚招实体代理商（实现全国统一批发价），依据薄利
                                        多销合作共赢的原则，一次性购货满8000元人民币，可成为三级
                                        代理商（享受官网价格10%的优惠），一次性购货满15000元人民
                                        币。可成为二级代理商（享受官网价格20%的优惠），一次性购
                                        货满30000元人民币。可成为一级代理商（享受官网价格25%的
                                        优惠）。聚盈珠宝欢迎广大经销商咨询！

                                    </strong>
                                </div>
                            </div>





                        </div>


                        <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">招商加盟(电商)</p></h1>
                                <div style="font-size: 20px;">
                                    <strong>　
                                聚盈珠宝在全国诚招天猫、京东、阿里巴巴、苏宁、淘宝等有实力的电商加盟
                                聚盈珠宝提供一手货源，提供所需产品的图片、文字说明等等。真诚
                                期待广大电商加盟！
                                    </strong>
                                </div>
                            </div>



                        </div>

    <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">招商加盟(全国)</p></h1>
                                <div style="font-size: 20px;">
                                    <strong>　
                                        聚盈珠宝诚招百名微商：大学生及应届毕业生的首选，无需投资，只寻于玉有缘人！
                                        聚盈珠宝诚招全国电商：聚盈珠宝诚招阿里巴巴、天猫、京东、苏宁、淘宝等电商。
                                        聚盈诚招全国代理：三级代理（一次性拿货8000元人民币以上，按官网价格优惠10%）
                                        二级代理（一次性拿货15000元人民币以上，按官网价格优惠20%）
                                        一级代理（一次性拿货30000元人民币以上，按官网价格优惠25%）
                                        聚盈珠宝所有产品实现全国统一销售价，可登陆官网了解详情！  </strong>
                                </div>
                            </div>




                        </div>


                        <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">联系方式(全国)</p></h1>

                                <div style="font-size: 20px;">
                                 <strong>聚盈珠宝官网：www.jyzbgd.com
                                        <br>微信公众号：yon168138@163.com

                                        <br>全国招商电话：18929259220     13822164734

                                        <br>客服及售后：13172383307    QQ：493052337


                                        聚盈珠宝微博：yhyla@163.com
                                        </strong></div>
                            </div>



                            <img class="col-lg-11 col-sm-11 col-xs-12   " src="__PUBLIC__/Join/5.jpg"/>

                        </div>


                        <div class="row">
                            <div class="col-lg-11 col-sm-11 ">
                                <h1><p style="text-align: center">加工过程</p></h1>


                            </div>


                            <video style="background: white;
             height: 300px;

             " class=" col-lg-11 col-md-11 col-sm-12 col-xs-12"   loop="loop" controls>
                                <source src="__PUBLIC__/Join/22.mp4" type="video/mp4">



                            </video>

                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<include file="Public/header/footer.html"/>