<include file="Public/header/header.html"/>


<div class="slideshow " id="pavo-slideshow">
    <div class="container-full">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12 col-md-12  ">
                    <div class="layerslider">
                        <div class="bannercontainer banner-fullwidth"
                             style="padding: 0px 0px;margin: 0px 0px 0px;">
                            <div id="sliderlayer1279082956" class="rev_slider fullwidthbanner"
                                 style="width:100%;height:480px; ">


                                <ul>



                                    <li onclick="window.location.href='__MODULE__/index/details/myid/YQ498125'"   data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img  src="__PUBLIC__/First/image/catalog/layerslider/slider-bg1.jpg"
                                                                                                    alt="Image 0"/>
                                    </li>

                                    <li onclick="window.location.href='__MODULE__/index/details/myid/YQ865941'"  data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/slide_01.jpg"
                                             alt="Image 2"/>
                                    </li>




                                    <li onclick="window.location.href='__MODULE__/index/details/myid/YQ292362'"  data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/slider-bg2.jpg"
                                             alt="Image 2"/>
                                    </li>



                                    <li onclick="window.location.href='__MODULE__/index/yee/cate/6'" data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/21.jpg"
                                             alt="Image 1"/>
                                    </li>


                                    <li onclick="window.location.href='__MODULE__/index/yee/cate/6'" data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/22.jpg"
                                             alt="Image 1"/>
                                    </li>


                                    <li onclick="window.location.href='__MODULE__/index/yee/cate/6'" data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/23.jpg"
                                             alt="Image 1"/>
                                    </li>




                                    <li  data-masterspeed="200" data-transition="random" data-slotamount="2">
                                        <img src="__PUBLIC__/First/image/catalog/layerslider/slider-bg12.jpg"
                                             alt="Image 1"/>
                                    </li>





                                </ul>

                                <div class="tp-bannertimer tp-top"></div>
                            </div>
                        </div>


                        <!--
    ##############################
     - ACTIVATE THE BANNER HERE -
    ##############################
    -->
                        <script type="text/javascript">

                            var tpj = jQuery;


                            if (tpj.fn.cssOriginal != undefined)
                                tpj.fn.css = tpj.fn.cssOriginal;

                            tpj('#sliderlayer1279082956').revolution(
                                    {
                                        delay: 9000,
                                        startheight: 480,
                                        startwidth: 1170,


                                        hideThumbs: 200,

                                        thumbWidth: 100,
                                        thumbHeight: 50,
                                        thumbAmount: 5,

                                        navigationType: "none",
                                        navigationArrows: "verticalcentered",
                                        navigationStyle: "round",

                                        navOffsetHorizontal: 0,
                                        navOffsetVertical: 20,

                                        touchenabled: "on",
                                        onHoverStop: "on",
                                        shuffle: "off",
                                        stopAtSlide: -1,
                                        stopAfterLoops: -1,

                                        hideCaptionAtLimit: 0,
                                        hideAllCaptionAtLilmit: 0,
                                        hideSliderAtLimit: 0,
                                        fullWidth: "on",
                                        shadow: 0


                                    });


                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="promotion " id="pavo-promotion">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12 col-md-12  ">
                    <div class="box box-module-pavreassurances ">
                        <div class="box-content">
                            <div class="row box-outer">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                                    <div class="reassurances-left">
                                        <span class="icon-name pull-left fa fa-truck"></span>

                                        <div class="description media-body">
                                            <h4>免费送货</h4>

                                            <p>温馨提示： 订单免邮</p>
                                            <!-- Button trigger modal -->

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                                    <div class="reassurances-left">
                                        <span class="icon-name pull-left fa fa-money"></span>

                                        <div class="description media-body">
                                            <h4>最佳价格保障</h4>

                                            <p>We'll beat it by 10%</p> <!-- Button trigger modal -->

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                                    <div class="reassurances-left">
                                        <span class="icon-name pull-left fa fa-smile-o"></span>

                                        <div class="description media-body">
                                            <h4>放心购物</h4>

                                            <p></p>
                                            <!-- Button trigger modal -->

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
                                    <div class="reassurances-left">
                                        <span class="icon-name pull-left fa fa-comments-o"></span>

                                        <div class="description media-body">
                                            <h4>24 小时客服在线</h4>

                                            <p>有任何问题可以联系我们客服</p> <!-- Button trigger modal -->

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<div id="columns">
    <div class="container">


        <div class="row">

            <!--<div class="  col-lg-3 col-md-3 col-sm-12 col-xs-12  ">-->

                <!--<img style="width: 280px; height: 280px;" src="__ROOT__/Public/headimg/1.jpg">-->
            <!--</div>-->

            <!--<div class="  col-lg-3 col-md-3 col-sm-12 col-xs-12  ">-->

            <a href="https://shop109126215.taobao.com/">   <img class="col-lg-3 col-md-3 col-sm-12 col-xs-4" style="" src="__ROOT__/Public/headimg/1.jpg"></a>
                <img class="col-lg-3 col-md-3 col-sm-12 col-xs-4" style="" src="__ROOT__/Public/headimg/2.jpg">

            <a href="http://weibo.com/u/2181821892"><img class="col-lg-3 col-md-3 col-sm-12 col-xs-4" style="" src="__ROOT__/Public/headimg/31.jpg"></a>
            <!--</div>-->
            <!--<div class="  col-lg-3 col-md-3 col-sm-12 col-xs-12  ">-->

                <!--<img style="width: 280px; height: 280px;" src="__ROOT__/Public/headimg/3.jpg">-->
            <!--</div>-->


            <video style="background: black;
             height: 280px;

             " class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" autoplay="autoplay" loop="loop" controls>
                <source src="__ROOT__/Public/headimg/4.mp4" type="video/mp4">


            </video>


        </div>


        <volist name="names" id="vo" key="k">

            <div class="row">

                <div class="pav-col col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="margin-top: 15px;">
                    <div class="box pav-verticalcategorytabs clearfix box-pink">

                        <div class="box-wapper box-pink clearfix">
                            <div class="tab-nav tabs-x tabs-left">


                                <ul class="nav nav-tabs " id="pavo-categorytabs173"
                                    role="tablist">
                                    <li class="nav-header box-heading">
                                        <span><{$vo.names}></span>
                                    </li>
                                    <!-- end div.box-heading -->
                                    <li><a role="tab"
                                           data-toggle="tab">正品保障</a>
                                    </li>
                                    <li><a role="tab"
                                           data-toggle="tab">源头供货</a></li>
                                    <li><a role="tab"
                                           data-toggle="tab">实物拍摄</a></li>
                                    <li><a role="tab"
                                           data-toggle="tab">货到付款</a></li>
                                    <li><a role="tab"
                                           data-toggle="tab">七天退换</a></li>

                                </ul>
                            </div>
                            <!-- end div.tab-nav -->

                            <div class="tab-content">
                                <div class="tab-pane active ">

                                    <!-- end div.carousel-controls-->

                                    <div class="carousel-inner carousel173 slide">
                                        <div class="item active">
                                            <div class="row products-row last">
                                                <volist name="vo['cate']" id="sub">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 product-col">
                                                        <div class="product-block item-default clearfix">

                                                            <a class="img"
                                                               href="__CONTROLLER__/details/myid/<{$sub.myid}>">
                                                                <img class="img-responsive"
                                                                     src="<{$sub.editorvalue.0}>"/>
                                                            </a>


                                                            <div class="product-meta">
                                                                <div class="product-meta-inner">


                                                                    <h3 class="name"
                                                                        itemprop="name">
                                                                        <a href="__CONTROLLER__/details/myid/<{$sub.myid}>">
                                                                            <{$sub.tittle}></a>
                                                                    </h3>


                                                                    <div class="price clearfix">
                                                                        <span class="special-price hidden-xs hidden-sm">$<{$sub.pay}></span>
                                                                    </div>

                                                                    <div class="clearfix"></div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </volist>


                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 product-col">
                                                    <div class="product-block item-default clearfix">


                                                        <video style=" height: 222px; background-image: url('__ROOT__/Public/1440576113961546.jpg');


                                                        " class="col-xs-12"   loop="loop" controlss >
                                                        <source src="__ROOT__/Public/Videos/<{$k}>.mp4"
                                                        type="video/mp4">

                                                        </video>


                                                        <div class="product-meta">

                                                        </div>
                                                    </div>
                                                </div>



                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 product-col">-->
                                                    <!--<br/>-->
                                                     <!-- -->



                                                    <!--<video style=" height: 280px; background-image: url('__ROOT__/Public/1440576113961546.jpg'); " class="col-xs-12" autoplay="autoplay" loop="loop" controls >-->
                                                        <!--<source src="__ROOT__/Public/Videos/<{$k}>.mp4"-->
                                                                <!--type="video/mp4">-->

                                                    <!--</video>-->

                                                  <!-- -->

                                                <!--</div>-->
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end div.carousel-content-->

                                </div>

                            </div>
                            <!-- end div.tab-content -->

                        </div>
                        <!-- end div.box-wapper -->
                    </div>
                    <!-- end div.box -->
                </div>


            </div>

        </volist>
    </div>
</div>


<include file="Public/header/footer.html"/>