<include file="Public/header/header.html"/>

</head>
<body>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-home"></i></a></li>
        <li><a href="__CONTROLLER__/">退换货政策</a>
        </li>
    </ul>
    <div class="row">
        <section id="sidebar-main" class="col-md-12">
            <div id="content" class="wrapper clearfix">
                <div id="services">
                    <div class="container">

<block name="content">

</block>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    DIV.jogger {
        PADDING-RIGHT: 2px;
        PADDING-LEFT: 2px;
        PADDING-BOTTOM: 2px;
        MARGIN: 7px;
        PADDING-TOP: 2px;
        FONT-FAMILY: "Lucida Sans Unicode",
        "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif
    }

    DIV.jogger A {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #ee4e4e;
        TEXT-DECORATION: none
    }

    DIV.jogger A:hover {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger A:active {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger SPAN.current {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #6d643c;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #f6efcc
    }

    DIV.jogger SPAN.disabled {
        DISPLAY: none
    }
</style>


<include file="Public/header/footer.html"/>