<include file="Public/header/header.html"/>

</head>
<body>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-home"></i></a></li>
        <li><a href="__CONTROLLER__/">银行卡</a>
        </li>
    </ul>
    <div class="row">
        <section id="sidebar-main" class="col-md-12">
            <div id="content" class="wrapper clearfix">
                <div id="services">
                    <div class="container">

                       <h1> <p class="text-left col-sm-11">
                        户名：东莞市森阳软件科技有限公司   账号：44-275001040010460
                        <br>公司账户开户地点：农行东莞南城支行</p>
                            <p class="text-left col-sm-11">
                        农行户名：杨红英   账号：6228 4806 0950 1342 875
                                <br>农行账户：东莞市东城区红荔路155号
    </p>
                       </h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    DIV.jogger {
        PADDING-RIGHT: 2px;
        PADDING-LEFT: 2px;
        PADDING-BOTTOM: 2px;
        MARGIN: 7px;
        PADDING-TOP: 2px;
        FONT-FAMILY: "Lucida Sans Unicode",
        "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif
    }

    DIV.jogger A {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #ee4e4e;
        TEXT-DECORATION: none
    }

    DIV.jogger A:hover {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger A:active {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger SPAN.current {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #6d643c;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #f6efcc
    }

    DIV.jogger SPAN.disabled {
        DISPLAY: none
    }
</style>


<include file="Public/header/footer.html"/>