<extend name="base"/>

<block name="content">
    <p style="padding-right: 0px;" >
        <img src="__PUBLIC__/211.jpg" class="img-responsive" alt="">
    </p>
    <p  >
        凡在聚盈珠宝电商平台购买商品者,均可享受“全场免运费”服务。<br><br>
        <strong>配送范围</strong><br><br>
        中国大陆全境(不包含港、奥、台。)
        <br><br> <strong> 配送方式</strong><br><br>
        1、聚盈珠宝为您提供两家免费配送服务的公司,分别是顺丰快递和EMS特快专递;<br><br>


        <br><strong>特别说明:</strong><br><br>
        1、如个别商品收取运费聚盈将另作说明;<br><br>
        2、退换货商品请参考退换货政策<br><br>
    </p>
</block>

