<include file="Public/header/header.html"/>

</head>
<body>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-home"></i></a></li>
        <li><a href="__CONTROLLER__/">免责条款</a>
        </li>
    </ul>
    <div class="row">
        <section id="sidebar-main" class="col-md-12">
            <div id="content" class="wrapper clearfix">
                <div id="services">
                    <div class="container">

<p class="text-left col-sm-11">
                        　　本网站的内容仅供您参考，在任何情况下，包括但不限于因本网站内容的错误、不准确或遗漏以及您进入或使用本网站而做出的决定，
                        聚盈珠宝不承担任何责任，包括直接和间接损失。 本网站对本网站上所有由第三方提供的信息、内容和服务，不提供明示或暗示的担
                        保。本网站对使用上述信息 、内容和服务所造成的任何损失不承担责任，包括直接损失和间接损失。本网站适用法律法规规定的其他
                        有关免责规定。本网站有权随时改变和更新网站内容，为了获得最新的网站内容，请您可以经常访问本网站。
</p>







                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    DIV.jogger {
        PADDING-RIGHT: 2px;
        PADDING-LEFT: 2px;
        PADDING-BOTTOM: 2px;
        MARGIN: 7px;
        PADDING-TOP: 2px;
        FONT-FAMILY: "Lucida Sans Unicode",
        "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif
    }

    DIV.jogger A {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #ee4e4e;
        TEXT-DECORATION: none
    }

    DIV.jogger A:hover {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger A:active {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #de1818
    }

    DIV.jogger SPAN.current {
        PADDING-RIGHT: 0.64em;
        PADDING-LEFT: 0.64em;
        PADDING-BOTTOM: 0.43em;
        MARGIN: 2px;
        COLOR: #6d643c;
        PADDING-TOP: 0.5em;
        BACKGROUND-COLOR: #f6efcc
    }

    DIV.jogger SPAN.disabled {
        DISPLAY: none
    }
</style>


<include file="Public/header/footer.html"/>